li {
    list-style: none;
  }
  ul {
    padding: 0;
    margin: 0;
    font-size: 8pt;
    font-family: "Overpass", sans-serif;
    color: white;
  }
  #Currenttemp {
    color: white;
    font-size: 40pt;
    font-family: "Overpass", sans-serif;
  }
  #Degrees {
    color: white;
    padding-left: 10px;
  }
  #Weathersaying {
    color: white;
    font-weight: 700;
    font-size: 30px;
    color: white;
    font-family: "Caveat";
    text-transform: capitalize;
  }