input {
    background-color: #fffbfa;
    border-radius: 4px;
    border: none;
  }
  #Submitbutton {
    font-family: "Caveat";
    text-align: center;
    color: white;
    background: #45a7ca;
    margin-left: 5px;
  }
  
  .Searchbox {
    float: right;
    margin: 10px 5px 20px 0;
  }
  
  ::placeholder {
    font-family: "Caveat";
    text-align: center;
    color: #45a7ca;
  }
  